@model IEnumerable<ContraloriaNDSWeb.Models.RecursoHumano>

@{
    ViewBag.Title = "RecursosHumanos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="slice animate-hover-slide">
    <div class="w-section inverse blog-grid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            @*<div class="w-box blog-post">*@
                            <div class="col-md-12">
                                <figure>
                                    <h1>Recursos Humanos</h1>
                                    <div class="col-md-12">
                                        @foreach (var item in Model)
                                        {
                                            <h2>@item.Descripcion</h2>
                                            <p style="color:black;font-size:medium">@item.Observacion</p>

                                            <blockquote>
                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i><a style="font-size:medium;color:darkred" class="btn btn-link" href="@Url.Content(item.Adjunto)" target="_blank">@Html.DisplayFor(modelItem => item.Descripcion)</a>
                                            </blockquote>
                                        }
                                    </div>

                                </figure>
                            </div>

                            @*</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>