@{
    ViewBag.Title = "Home Page";
}

<section class="slider-wrapper">
    <div class="responisve-container">
        <div class="slider">
            <div class="fs_loader"></div>

            <div class="slide">
                <img src="~/Images/Carousel/portada_contraloria.jpg" alt="" height="440" data-position="0,-460" data-in="left" data-delay="200" data-out="right">
                @*<img src="images/slider/mac-book.png" alt="" data-step="1" data-position="40, 100" data-in="right" data-delay="100" data-out="fade">
                <img src="images/slider/ipad.png" alt="" data-step="1" data-position="40, 600" data-in="bottom" data-delay="300" data-out="fade">
                <img src="images/slider/iphone.png" alt="" data-step="1" data-position="40,900" data-in="left" data-delay="500" data-out="fade">*@
                <p class="claim color-one" data-position="70,0" data-in="top" data-step="2" data-out="top" data-delay="100">
                    Now. Faster. Stronger
                </p>
                @*<p class="teaser color-two-l small" data-position="130,0" data-in="bottom" data-step="2" data-delay="100">
                    Fresh and adaptive design
                </p>
                <p class="teaser color-two-l small" data-position="180,0" data-in="bottom" data-step="2" data-delay="600">
                    Infinite features
                </p>
                <p class="teaser color-two-l small" data-position="230,0" data-in="bottom" data-step="2" data-delay="1100">
                    Easy to customize
                </p>
                <p class="teaser color-two-l small" data-position="280,0" data-in="bottom" data-step="2" data-delay="1600">
                    Easier to achieve your goals
                </p>
                <p class="teaser color-two-l small" data-position="330,0" data-in="bottom" data-step="2" data-delay="2100">
                    Fully UPDATED
                </p>*@
            </div>
            <div class="slide">
                <img src="~/Images/carousel-img-4.png" alt="" height="440" data-position="0,-460" data-in="right" data-delay="200" data-out="left">
                <div class="video" data-position="80,0" data-in="top" data-delay="500" data-out="easeOutBounce">
                    <iframe src="//player.vimeo.com/video/78468485?title=0&amp;byline=0&amp;portrait=0" height="360"></iframe>
                </div>
                <p class="claim color-one" data-position="80,550" data-in="top" data-out="top" data-delay="1200">
                    Implementing videos is easy
                </p>
                @*<p class="teaser color-two-d" data-position="140,550" data-in="bottom" data-step="1" data-delay="100">
                    Media support for Vimeo, Youtube and much more
                </p>
                <p class="text small white" data-position="190,550" data-in="bottom" data-step="1" data-delay="400">
                    Lorem ipsum dolor sit amet, eum cu sint dolores, dicat possit malorum at sit, ut natum assentior mea. Mel congue malorum te, eu cum blandit salutatus comprehensam, atqui causae ancillae cum ei. His eu ignota praesent democritum.
                    <br>
                    <a href="#" class="btn btn-one">Read more</a>
                </p>*@
            </div>
            <div class="slide">
                <img src="~/Images/carousel-img-3.png" alt="" height="440" data-position="0,-460" data-in="bottom" data-delay="200" data-out="top">

                <p class="claim color-one" data-position="70,520" data-in="top" data-step="1" data-out="bottom" data-delay="100">
                    Every pixel matters
                </p>
                @*<p class="teaser color-two-d" data-position="130,520" data-in="top" data-step="1" data-out="bottom" data-delay="200">
                    eBright Bootstrap Template. Try it now!
                </p>
                <p class="text small white" data-position="180,520" data-in="top" data-step="1" data-out="bottom" data-delay="300">
                    Lorem ipsum dolor sit amet, eum cu sint dolores, dicat possit malorum at sit, ut natum assentior mea. Mel congue malorum te, eu cum blandit salutatus comprehensam, atqui causae ancillae cum ei. His eu ignota praesent democritum.
                    <br>
                    <a href="#" class="btn btn-one">Read more</a>
                </p>*@
            </div>

        </div>
    </div>
</section>
<section class="slice color-one">
    <div class="section-title color-three">
        <h3>NOTICIAS</h3>
        <div class="indicator-down color-three"></div>
    </div>
</section>
<section class="slice animate-hover-slide">
    <div class="w-section inverse blog-grid">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="w-box">
                                <figure>
                                    <img alt="" src="~/Images/Noticias/calidad.jpg" class="img-responsive">
                                    <span class="date-over"><strong>Web Design</strong></span>
                                    <h2>We love Bootstrap themes</h2>
                                    <p>
                                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.
                                    </p>
                                    <span class="w-footer">
                                        <span class="pull-left"><small>Posted on 23th, October 2013</small></span>
                                        <a href="#" class="btn btn-xs btn-two pull-right">Read more</a>
                                        <span class="clearfix"></span>
                                    </span>
                                </figure>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="w-box">
                                <figure>
                                    <img alt="" src="~/Images/Noticias/certificado_2.jpg" class="img-responsive">
                                    <span class="date-over"><strong>Technology</strong></span>
                                    <h2>We love Bootstrap themes</h2>
                                    <p>
                                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.
                                    </p>
                                    <span class="w-footer">
                                        <span class="pull-left"><small>Posted on 23th, October 2013</small></span>
                                        <a href="#" class="btn btn-xs btn-two pull-right">Read more</a>
                                        <span class="clearfix"></span>
                                    </span>
                                </figure>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="w-box">
                                <figure>
                                    <img alt="" src="~/Images/Noticias/certificado_3.jpg" class="img-responsive">
                                    <span class="date-over"><strong>E-Commerce</strong></span>
                                    <h2>We love Bootstrap themes</h2>
                                    <p>
                                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.
                                    </p>
                                    <span class="w-footer">
                                        <span class="pull-left"><small>Posted on 23th, October 2013</small></span>
                                        <a href="#" class="btn btn-xs btn-two pull-right">Read more</a>
                                        <span class="clearfix"></span>
                                    </span>
                                </figure>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="w-box">
                                <figure>
                                    <img alt="" src="~/Images/Noticias/hp_reciclaje.jpg" class="img-responsive">
                                    <span class="date-over"><strong>Photoshop</strong></span>
                                    <h2>We love Bootstrap themes</h2>
                                    <p>
                                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.
                                    </p>
                                    <span class="w-footer">
                                        <span class="pull-left"><small>Posted on 23th, October 2013</small></span>
                                        <a href="#" class="btn btn-xs btn-two pull-right">Read more</a>
                                        <span class="clearfix"></span>
                                    </span>
                                </figure>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="w-box">
                                <figure>
                                    <img alt="" src="~/Images/Noticias/certificado_1.jpg" class="img-responsive">
                                    <span class="date-over"><strong>Web Design</strong></span>
                                    <h2>We love Bootstrap themes</h2>
                                    <p>
                                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.
                                    </p>
                                    <span class="w-footer">
                                        <span class="pull-left"><small>Posted on 23th, October 2013</small></span>
                                        <a href="#" class="btn btn-xs btn-two pull-right">Read more</a>
                                        <span class="clearfix"></span>
                                    </span>
                                </figure>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="w-box">
                                <figure>
                                    <img alt="" src="~/Images/Noticias/calidad.jpg" class="img-responsive">
                                    <span class="date-over"><strong>Photoshop</strong></span>
                                    <h2>We love Bootstrap themes</h2>
                                    <p>
                                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.
                                    </p>
                                    <span class="w-footer">
                                        <span class="pull-left"><small>Posted on 23th, October 2013</small></span>
                                        <a href="#" class="btn btn-xs btn-two pull-right">Read more</a>
                                        <span class="clearfix"></span>
                                    </span>
                                </figure>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <form class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search blog..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>

                   

                    <div class="widget">
                        <h4 class="widget-heading hide">Tab widget</h4>
                        <div class="tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#one" data-toggle="tab"><i class="icon-star"></i> Popular</a></li>
                               
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="one">
                                    <ul class="popular">
                                        <li>
                                            <img src="~/Images/BannerLateral/team-img-2.jpg" alt="" class="img-thumbnail pull-left">
                                            <p>
                                                <a href="#">Dorlorem ipsum et mea dolor sit amet, usu timeam persius ea</a>
                                                <i>20th, June 2013</i>
                                            </p>

                                        </li>
                                        <li>
                                            <img src="~/Images/BannerLateral/team-img-2.jpg" alt="" class="img-thumbnail pull-left">
                                            <p>
                                                <a href="#">Dorlorem ipsum et mea dolor sit amet, usu timeam persius ea</a>
                                                <i>20th, June 2013</i>
                                            </p>
                                        </li>
                                        <li>
                                            <img src="~/Images/BannerLateral/team-img-2.jpg" alt="" class="img-thumbnail pull-left">
                                            <p><a href="#">Usu ea justo malis, pri quando everti electram ei, usu timeam persius ea</a></p>
                                            <p>
                                                <a href="#">Dorlorem ipsum et mea dolor sit amet, usu timeam persius ea</a>
                                                <i>20th, June 2013</i>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="two">
                                    <ul class="recent">
                                        <li>
                                            <p><a href="#">Dorlorem ipsum et mea dolor sit amet</a></p>
                                        </li>
                                        <li>
                                            <p><a href="#">Fierent adipisci iracundia est ei, usu timeam persius ea</a></p>
                                        </li>
                                        <li>
                                            <p><a href="#">Usu ea justo malis, pri quando everti electram ei</a></p>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="widget">
                        <h4 class="widget-heading">Video spot</h4>
                        <div class="w-box">
                            <figure>
                                <div class="video-container">
                                    <iframe src="http://player.vimeo.com/video/22290612" height="203"></iframe>
                                </div>
                                <h2>Easy embeded movie</h2>
                            </figure>
                        </div>
                    </div>

                   
                </div>
            </div>

        </div>
    </div>

</section>



