@model ContraloriaNDSWeb.Models.Department

@{
    ViewBag.Title = "Departamentos";
}

<h2>Administración de Departamentos</h2>

<div>
    <h4>Información del Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.DepartmentId }, new { @class = "btn btn-danger" }) |
    @Html.ActionLink("Volver al Listado", "Index", new { }, new { @class = "btn btn-success" })
</p>
